body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe2ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

.outer-div {
    margin: auto;
    width: 50%;
}

.form_radio_btn {
    margin-bottom: 10px;
}

select {
    padding: 8px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}